<div class="container">
    <div class="container my-4 d-flex justify-content-around">
        <div class="card pointer" style="width: 18rem;" routerLink="bloodyqueen">
            <img src="assets/mary.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-text stretched-link">
                    Bloody Queen
                </h5>
            </div>
        </div>
        <div class="card pointer" style="width: 18rem;" routerLink="dreamwitch">
            <img src="assets/dream.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Dream Witch
                </h5>
            </div>
        </div>
        <div class="card pointer" style="width: 18rem;" routerLink="photographer">
            <img src="assets/joseph.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-text" >
                    Photographer
                </h5>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
