<div class="container">
    <div class="container my-4 d-flex justify-content-around">
        <div class="card pointer" style="width: 18rem;" routerLink="acrobat">
            <img src="assets/mike.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-text stretched-link">
                    Acrobat
                </h5>
            </div>
        </div>
        <div class="card pointer" style="width: 18rem;" routerLink="enchantress">
            <img src="assets/patricia.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    Enchantress
                </h5>
            </div>
        </div>
        <div class="card pointer" style="width: 18rem;" routerLink="prisoner">
            <img src="assets/luca.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-text" >
                    Prisoner
                </h5>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
