<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Dream Witch's Profile</h2>
            <i>Devour, divide, and fuse--the cycle repeats.</i>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Yidhra</td>
                    </tr>
                    <tr>
                        <th>Career</th>
                        <td>Dream Witch</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>Unknown</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>Unknown</td>
                    </tr>
                    <tr>
                        <th>Difficulty</th>
                        <td>3 out of 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 py-5">
            <iframe class="w-100 h-100 mt-3" src="https://www.youtube.com/embed/y_caWlfCRAY?start=6"></iframe>
        </div>
    </div>    
</div>
