<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Bloody Queen's Profile</h2>
            <i>Mary has no interest in playing chess because the queen is the easiest piece to take...</i>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Marie Antoinette</td>
                    </tr>
                    <tr>
                        <th>Career</th>
                        <td>Queen of France</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>Austrian</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>14 (Appearance) <br> 38 (Actual Age)</td>
                    </tr>
                    <tr>
                        <th>Difficulty</th>
                        <td>2 out of 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 py-5">
            <iframe class="w-100 h-100 mt-3" src="https://www.youtube.com/embed/HG9dhKCN8W8?start=7"></iframe>
        </div>
    </div>    
</div>