<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Prisoner's Profile</h2>
            <i>Luca Balsa was once a world-renowned inventor. He never gave up
                his deepest aspiration even when he was in jail. Now that he's
                free, nothing is stopping him from completing his greatest
                invention. </i>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Luca Balsa</td>
                    </tr>
                    <tr>
                        <th>Career</th>
                        <td>Inventor</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>Serbian</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>Unknown (21+)</td>
                    </tr>
                    <tr>
                        <th>Difficulty</th>
                        <td>2 out of 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 py-5">
            <iframe class="w-100 h-100 mt-3"
                src="https://www.youtube.com/embed/jjYt8bN_rcg?start=10"></iframe>
        </div>
    </div>
</div>
