<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Acrobat's Profile</h2>
            <i>Blonde curls, a lively spirit and clear blue eyes forever full of
                joy, Mike Morton was the most popular guy in Hullabaloo, the
                traveling circus. Hullabaloo was Mike's entire world, a world
                where slaughter should never have existed. </i>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Mike Morton</td>
                    </tr>
                    <tr>
                        <th>Career</th>
                        <td>Acrobat</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>American</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>Difficulty</th>
                        <td>2.5 out of 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 py-5">
            <iframe class="w-100 h-100 mt-3"
                src="https://www.youtube.com/embed/WD7OyL6u9dY?start=18"></iframe>
        </div>
    </div>
</div>
