<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Enchantress's Profile</h2>
            <i>Patricia Dorval, who has a curse hidden in her blood, has brought
                endless pain and great power to herself. She believes that to
                wear a crown is to bear its weight. </i>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Patricia Dorval</td>
                    </tr>
                    <tr>
                        <th>Career</th>
                        <td>Shaman</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>Haitian-American</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>Difficulty</th>
                        <td>1.5 out of 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 py-5">
            <iframe class="w-100 h-100 mt-3"
                src="https://www.youtube.com/embed/IKh0PMYXdFY?start=38"></iframe>
        </div>
    </div>
</div>
