<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Photographer's Profile</h2>
            <i>In Joseph's eyes, every photo is a mark in time.</i>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Joseph Desaulniers</td>
                    </tr>
                    <tr>
                        <th>Career</th>
                        <td>Photographer</td>
                    </tr>
                    <tr>
                        <th>Nationality</th>
                        <td>French</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>17 (Appearance) <br> 60 (Actual Age)</td>
                    </tr>
                    <tr>
                        <th>Difficulty</th>
                        <td>2.5 out of 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 py-5">
            <iframe class="w-100 h-100 mt-3" src="https://www.youtube.com/embed/Y-e0st_jd08?controls=0"></iframe>
        </div>
    </div>    
</div>
